html {
    box-sizing: border-box;
    background: url(IMG_1085.JPG) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    max-width: 350px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.status ul {
    padding: 0;
}

.status ul li {
    padding: 10px;
    display: inline;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
}

.users {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.users li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

